*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    color: black;
}
body{
    background-color: #fff;
}
.header_section{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.header_section img{
    min-height: 100px;
    min-width: 100px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
   
}
.header_section div h1{
    font-weight:900;
    color: black;
}
.header_section div h2{
    font-weight:900;
    color: rgb(24, 51, 172);
}