*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(25, 25, 126),rgb(14, 14, 68), rgb(128, 128, 40));
    padding: 10px;
}
.todo_list{
    width: 100%;
    max-width: 540px;
    background-color: white;
   margin: 100px auto 20px;
    text-align: center;
    padding: 20px 30px 70px;
    border-radius: 10px;

}
.todo_list h2{
    color: rgb(36, 36, 116);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}
.todo_list h2 img{
        width: 40px;
        height: 30px;
        padding-left: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 221, 221);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.row button{
    border: none;
    outline: none;
    padding: 15px 30px;
    background-color: rgb(21, 143, 21);
    border-radius: 25px;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}
.list_container{
  list-style-type: none;
}
ul li{
    list-style: none;
    text-align: start;
    font-size: 20px;
    padding: 15px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url('assets/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 16px;
    left: -10px;
   
}
ul li.checked{
    color: grey;
    text-decoration: line-through;
}
ul li.checked::before{ 
    background-image: url('assets/checked.png');
    width: 20px;
    height: 20px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: brown;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: gainsboro;
    border-radius: 50px;
}