/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: white;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color:white;
    
  }

  .card {
   
    background-color:rgb(233, 233, 233);
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(115, 115, 151);
    margin: 12px;
    
    
   
  }
  .card img{
    height: 50px;
    width: 50px;
  }

  .card h2,span {
    margin-top: 0;
    color: rgb(21, 9, 94);
  }

  .card p {
    margin: 10px 0;
    color: black;
    text-align: justify;
  }
  .card ul {
    list-style-type: none;
  }
  .card ul li{
    color: black;
    
  }
/* Style the header */
header {
   
    text-align: center;
    padding: 20px;
    background-color: #15138d;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Style the about section */
#about {
    padding: 20px;
}
#about h2  {
    
    text-align: center;
   
}

/* Style the projects section */
#projects {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.project {
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(218, 213, 213);
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(115, 115, 151);
}
.project h2,p{
    color: black;
}
.project button a{
    color: black;
    background-color: green;
    padding: 6px;
    font-weight: bolder;
    border-radius: 10px;
}

.project img {
    max-width: 100%;
    height: auto;
}
 h2{
    text-align: center;
}


/* Style the contact section */
#contact {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #0f0752;
}
#contact img{
    height: 30px;
    width: 30px;
}

.contact-item {
    text-align: center;
}
.contact-item p{
    color: white;
}

/* Style the download section */
#download {
    text-align: center;
    padding: 20px;
    color: blue;
}
#download a{
    color: #dfdee7;
    font-weight: bolder;
    background-color: rgb(9, 5, 39);
    padding: 10px;
    border-radius: 5px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(88, 94, 95);
    color: white;
}

footer img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
