*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.main{
    display: flex;
}
.header_section{
    width: 30vw;
    background-color: rgb(218, 211, 211);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.header_section div img{
    margin-top: 10px;
    /* align-items: center; */
    min-width: 30px;
    min-height: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header_section h2{
    
    color: #fff;
    background-color: rgb(17, 14, 14);
    border-radius: 20px;
}
.header_section .expertise{
    /* text-align: start; */
}

.about_contact{
    float: left;
}
.header_section .contact{
    
    display: flex;
}
.header_section .contact .icon{
    height: 5px;
    width: 5px;
}
.main_section{
    padding: 10px;
    width: 70vw;
    background-color:rgb(230, 217, 217);
}
.main_section h1{
   
    font-weight: bolder;
    font-size: 80px;
}
.main_section h3{
    color: rgb(19, 19, 95);
    font-weight: bolder;
   
}
.main_section h5{
    color: rgb(2, 2, 119);
}

@media (max-width: 768px) {
    .main {
      flex-direction: column;
    }

    .header_section, .main_section {
      flex: 100%;
      border-radius: 10px;
      margin: 10px 0;
    }

    .profile_picture {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
  }